@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+CU:wght@100..400&display=swap');
body{
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal; 
}

h1,h3{
    color: aquamarine;
}
header{
    background-color: azure;
}
main{
    background-color: whitesmoke;
}
span{
    background-color: aquamarine;
}