body{
    font-family: Arial, Helvetica, sans-serif;
}

.box1, .box2{
    border: 2px solid #444;
    padding: 10px;

}

.box1{
    margin-bottom: 80px;
}

.box2{
    margin-top: 90px;
}


/* 
Margin Collapsing

When two vertical margins touch, they collapse to use the larger of the two margins. This is called margin collapsing.
In the case of .box1 { margin-bottom: 80px; } and .box2 { margin-top: 90px; }, the space between the two elements will be 90px due to margin collapsing, which uses the larger of the two margins. */