 /* css for emunits */
 /* default is 16px */
 h1{
    font-size: 2em;/* 32px new font size for h1*/
    border: 2em solid black; /*64px border */
    padding: 3em; /* 96px = 32*3 */
 }
 .box1{
    font-size: 4.8em; 
    /* 2em = 40px  for h1 inside class box1*/
    /* border of 80px */
 }


 